.ChasingBody {
  display: flex;
  margin: 4vh 15vw 0 15vw;
  flex-direction: column;
}

/* 商品 */
.CBInputArea {
  position: relative;
  width: 100%;
  border: 0.15vw #FF9191 solid;
  padding: 1vw;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 0.5vw;
}

/* 商品 */
.product-card {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

/* 商品圖 */
.product-image {
  width: 8vw;
  height: 8vw;
  object-fit: contain;
  flex-shrink: 0;
}

/* 商品資訊 */
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3vw;
}

/* 品牌名稱 */
.product-brand {
  font-size: 1vw;
  color: #555;
}

/* 商品名稱 */
.product-name {
  font-weight: bold;
  font-size: 1.3vw;
  color: #000;
}

/* 價格區 */
.product-price {
  font-size: 1.1vw;
}

.original-price {
  color: gray;
  margin-right: 0.5vw;
  text-decoration: line-through;
}

.special-price {
  color: #e53935;
  font-weight: bold;
}

/* 評價 */
.product-rating {
  font-size: 1.1vw;
  color: #fbc02d;
}

/* 設定按鈕 */
.CBIASettingButtom {
  margin-top: 0;
  height: 2.5vw;
  line-height: 2.5vw;
  padding: 0 1.3vw;
  background-color: white;
  border: 0.15vw solid #ED8A8A;
  color: black;
  font-weight: bold;
  font-size: 1.25vw;
  border-radius: 0.5vw;
  transition: color 0.2s ease-in-out;
}

.CBIASettingButtom:hover {
  color: rgb(210, 10, 10);
}

/* 追蹤商品按鈕 */
.CBIAFollowButtom {
  margin-top: 0;
  height: 2.5vw;
  line-height: 2.5vw;
  padding: 0 1.3vw;
  background-color: #ED8A8A;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.25vw;
  border-radius: 0.5vw;
  transition: color 0.2s ease-in-out;
}

.CBIAFollowButtom:hover {
  color: rgb(84, 49, 49);
}

/* 取消追蹤按鈕 */
.CBIAUnfollowButtom {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  margin: 0;
  height: 2.5vw;
  line-height: 2.5vw;
  padding: 0 1.3vw;
  background-color: #ED8A8A;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.25vw;
  border-radius: 0.5vw;
  transition: color 0.2s ease-in-out;
}

.CBIAUnfollowButtom:hover {
  color: rgb(84, 49, 49);
}

/* 分隔線 */
.Chr-line {
  all: unset;
  display: block;
  height: 1.5px;
  background-color: #ED8A8A;
  margin: 0.5vw 0 1vw 0;
  width: 100%;
}
