.SettingBody{
    display: flex;
    margin: 4vh 15vw 0 15vw;
    flex-direction: column;
    
}

.SBInputArea{
    width: 100%;
    border: 0.15vw #FF9191 solid;
    border-radius: 0.5vw;
    padding: 2vw 2.2vw 2vw 3vw;
}


.SBTitle{
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.25vw;
    line-height: 1.25vw;
    margin-bottom: 1vw;
}

.SBIArow{
    display: flex;
    margin-top: 1vw;
    align-items: center;  /* 垂直置中 */
}

.SBIATitle{
    width: 10%;
    font-size: 1.25vw;
    line-height: 1.25vw;
    font-weight: bold;
    text-align: center;
}

.SBIAtext{
    width: 78%;
    padding-right: 2.5vw
}

.SBIAtext input{
    width: 100%;
    border-radius: 0.5vw;
    font-size: 1.25vw;
    line-height: 1.25vw;    
    height: 2.5vw;
    font-weight: bold;
    margin: 0 auto;
    border: none;
    color: #A09E9E;
    padding: 1vw 1.3vw;
    border: #ED8A8A 0.15vw solid;
}

.SBIAtext input:focus{
    border: #ED8A8A 0.15vw solid;
}

/*密碼確認密碼專用*/
.SBTitletwo {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.25vw;
    line-height: 1.25vw;
    margin-bottom: 1vw;
}


.SBIArowtwo{
    display: flex;
    margin-top: 1vw;
    align-items: center;  /* 垂直置中 */
}

.SBIATitletwo{
    width: 10%;
    font-size: 1.25vw;
    line-height: 1.25vw;
    font-weight: bold;
    text-align: center;
    margin-left: 3vw;
}

.SBIAtexttwo{
    width: 68%;
    padding: 0vw 0vw
   
}

.SBIAtexttwo input{
    width: 100%;
    border-radius: 0.5vw;
    font-size: 1.25vw;
    line-height: 1.25vw;    
    height: 2.5vw;
    font-weight: bold;
    margin: 0 auto;
    border: none;
    color: #A09E9E;
    padding: 1vw 1.3vw;
    border: #ED8A8A 0.15vw solid;
}

.SBIAtexttwo input:focus{
    border: #ED8A8A 0.15vw solid;
}






/*一鍵修改按鈕*/
.SBIAModifyButtom {
    margin-top: 0;
    height: 2.5vw;
    line-height: 2.5vw; 
    padding: 0 1.3vw;
    background-color: #ED8A8A;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.25vw;
    border-radius: 0.5vw;
    transition: color 0.2s ease-in-out;
    margin-left: auto;

    /* 文字不換行-不知道怎樣修改一直換行 */
    white-space: nowrap;
}

.SBIAModifyButtom:hover{
    color: rgb(84, 49, 49);
}

/*修改密碼按鈕*/
.SBIAModifyButtomtwo {
    margin-top: -3vw;
    height: 2.5vw;
    line-height: 2.5vw; 
    padding: 0 1.3vw;
    background-color: #ED8A8A;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.25vw;
    border-radius: 0.5vw;
    transition: color 0.2s ease-in-out;
    margin-left: 59vw;

    /* 文字不換行-不知道怎樣修改一直換行 */
    white-space: nowrap;
}

.SBIAModifyButtomtwo:hover{
    color: rgb(84, 49, 49);
}





/*設定按鈕*/
.SBIASettingButtom {
    margin-top: 0;
    height: 2.5vw;
    line-height: 2.5vw; 
    padding: 0 1.3vw;
    background-color: #ED8A8A;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.25vw;
    border-radius: 0.5vw;
    transition: color 0.2s ease-in-out;
    margin-left: 0;
}

.SBIASettingButtom:hover{
    color: rgb(84, 49, 49);
}
/*追蹤商品按鈕*/
.SBIAFollowButtom {
    margin-top: 0;
    height: 2.5vw;
    line-height: 2.5vw; 
    padding: 0 1.3vw;
    background-color: white;
    border:0.15vw solid #ED8A8A;
    color: black;
    font-weight: bold;
    font-size: 1.25vw;
    border-radius: 0.5vw;
    transition: color 0.2s ease-in-out;
    margin-left: 0;
}

.SBIAFollowButtom:hover{
    color: rgb(210, 10, 10);
}
/* 性別選單 */
.SBIAtext select {    
    font-weight: bold;
    width: 100%;
    border-radius: 0.5vw;
    font-size: 1.25vw;
    line-height: 1.25vw;    
    height: 2.8vw; /* 與 input 高度一致 */
    font-weight: bold;
    color: #A09E9E;
    padding: 0.5vw 0.5vw; 
    border: #ED8A8A 0.15vw solid;
    background-color: white;
    
    cursor: pointer;
}

.Shr-line {
    all: unset;
    display: block;
    height: 1.5px;
    background-color: #ED8A8A;
    margin: 0.5vw 0 1vw 0;
    width: 100%;
  }
  

  
  
  